<div class="container">
<div class="row">
  <form class="form-horizontal" method="post">
  <div class="form-group">
    <label for="inputName" class="control-label col-xs-2">Nazwa użytkownika</label>
    <div class="col-xs-10">
      <input type="text" class="form-control" id="inputName" placeholder="Nazwa..." name="userName">
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword" class="control-label col-xs-2">Password</label>
    <div class="col-xs-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Hasło..." name="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <div class="checkbox">
        <label><input type="checkbox" name="rememberMe"> Pamiętaj mnie</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
</div>
</div>