<div class="signinBox">
  <form  method="post">
    <div class="container">
      <label><b>Nazwa użytkownika</b></label>
      <input type="text" placeholder="Nazwa..." name="userName" required>
    </div>
    <div class="container">
      <label><b>E-Mail</b></label>
      <input type="email" placeholder="E-mail..." name="userMail" required>
    </div>
    <div class="container">
      <label><b>Hasło</b></label>
      <input type="password" placeholder="Hasło..." name="password" required>
    </div>
     <div class="container">
      <label><b>Powtórz hasło</b></label>
      <input type="password" placeholder="Hasło..." name="passwordRetype" required>
    </div>   
    <div class="container">
      <button type="submit">Utwórz</button>
    </div>

    <div class="container">
      <button type="button" class="cancelbtn">Anuluj</button>
    </div>
  </form>
</div>