<div>
    <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/login">Logowanie</a></li>
    <li role="presentation"><a href="/shop">Sklep</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li role="presentation"><a href="#">Profil</a></li>
            <li role="presentation"><a href="#">Sklep</a></li>       
        </ul>
    </li>
    </ul>
</div>