{{>topMenu}}
<h1>Aplikacja Sklepowa</h1>
<p>To przykładowa alpikacja sklepowa z użyciem nowoczesnych technik webowych</p>
<p>Witaj {{user}}</p>
<div>
{{#known}}
    <a href="/account">Moje konto</a> 
{{/known}}
{{^known}}
    <a href="/login">Zaloguj</a> 
    <a href="/signin">Utwórz konto</a>
    <p> Copy </p> 
{{/known}}
</div>